body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 75px;
    background-color: salmon;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid whitesmoke;
}

nav span{
    width: 100%;
    color: whitesmoke;
    display: inline;
    justify-content: center;
    align-items: center;
}

.big-title{
    width: 30%;
    color: whitesmoke;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-title a{
    font-family: 'Abril Fatface', cursive;
}

header{
    position: sticky;
    z-index: 3;
    top: 0;
}

.menu-box{
    width: 100%;
    background-color: rgb(253, 152, 141);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-list{
    width: 70%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.menu-list li a{
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
}
.main-container{
    max-width: 1200px;
    padding-top: 0px;
    margin: auto;
    text-align: center;
}

img{
    border-radius: 5px;
    width: 1500px;
}

.img-box1 {
    margin-top: 30px;
    width: 100%;
    display: flex;
}

.img-box2, .img-box3{
    width: 100%;
    display: flex;
}

.img-box1 img{
    width: 50%;
    padding: 3px;
}
.img-box2 img{
    width: 50%;
    padding: 3px;
}
.img-box3 img{
    width: 50%;
    padding: 3px;
}

ul{
    padding: 0;
    list-style-type: none;
}

.resume{
    margin-top: 30px;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

h2{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 50px;
    font-style: italic;
    font-family: serif;
    font-weight: 100;
}
hr{
    margin-bottom: 30;
}

.work-box img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.work-box1 img{
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}
.work-box2 img{
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}
.work-box3 img{
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}

.work-box img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}
.work-box1 img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}
.work-box2 img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}
.work-box3 img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

.modal2{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .modal-content{
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1500px;
  }

  .modal #img01{
      width: 60%;
  }

  .modal #img02{
      width: 80%;
  }
  .modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  .close {
    position: absolute;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

.project-box1 img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.project-box2 img{
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.project-box3 img{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.project-box1 img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}
.project-box2 img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}
.project-box3 img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}

button{
    font-size: 20px;
    font-style: italic;
    font-family: 'Abril Fatface', cursive;
    font-weight: 200;
    margin: 20px;
    margin-bottom: 0;
    background-color: rgb(253, 152, 141);;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover{
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.03);
}

.title{
    font-size: 50px;
    font-weight: 100px;
    font-style: italic;
    font-family: serif;
    text-align: center;
    margin: 30px;
}
.sub-title{
    font-size: 35px;
    font-weight: 50px;
    font-style: italic;
    font-family: serif;
    text-align: center;
    color: black;
    margin-bottom: 0px;
}
.skill-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.content{
    width: 100%;
}
.content .subbox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
i{
    text-align: center;
    font-size: 30px;
    color: black;
}
.sub1, .sub2, .sub3{
    width: 100%;
    font-style: italic;
    text-align: center;
    color: lightslategrey;
    font-family: serif;
    margin: 30px;
}
.tel-logo i, .mail-logo i, .fb-logo i, .ig-logo i{
    font-size: 30px;
    color: whitesmoke;
}
footer{
    margin-top: 30px;
    background-color: salmon;
    padding: 30px;
    text-align: center;
    font-size: 25px;
}
a{
    color: whitesmoke;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-style: italic;
    text-decoration: none;
}
span :hover{
    color: black;
    text-decoration: underline;
}
.big-title a:hover{
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid black;
    color: black;
}
li a:hover{
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid black;
    color: black;
}

@media only screen and (max-width: 767px){
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
    }

    header{
        grid-column: 1 / span 2;
    }

    header .menu-box .big-title{
        font-size: 30px;
    }

    header .menu-box li a{
        font-size: 20px;
    }

    .main-container{
        grid-column: 1 / span 2;
    }

    footer{
        grid-column: 1 / span 2;
    }
}

@media only screen and (max-width: 500px){
    .grid-container{
        display: grid;
        grid-template-columns: auto;
    }

    header{
        grid-column: 1 / span 1;
    }

    header .menu-box .big-title{
        font-size: 20px;
    }

    header .menu-box li a{
        font-size: 15px;
    }

    .main-container{
        grid-column: 1 / span 1;
    }

    footer{
        grid-column: 1 / span 1;
        font-size: 20px;
    }
}