body{
    margin: 0px;
    padding: 0px;
    max-width: 1200px;
    margin: auto;
    background-color: aliceblue;
}
.pic-box{
    display: flex;
}
img{
    width: 50%;
}
.Title{
    background-color: salmon;
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
    margin: 0;
}
.main-text-box{
    background-color: aliceblue;
    color: black;
    margin-top: 20px;
    display: flex;
    border: 10px solid salmon;
    padding: 20px;
}
.text-box{
    width: 30%;
}
.text-box2{
    width: 70%;
}
.text-box3{
    margin-top: 20px;
    background-color: aliceblue;
    color: black;
    border: 10px solid salmon;
    padding: 20px;
}
.source{
    color: black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
}